:root {
    --primario: #144081;
    --primarioOscuro: rgb(37, 47, 68);
    --secundario: rgb(26, 131, 22);
    --secundarioOscuro: #ffa600;
    --blanco: #FFF;
    --blancoSecundario: #e2e2e2;
    --negro: #000;
    --fuentePrincipal: 'Kanit', sans-serif;
}

/*PRESETEO DE LA WEB*/
html{
    box-sizing: border-box;
    font-family: var(--fuentePrincipal);
    font-size: 15px;
}

header,
body, 
h1, 
h2,
h3,
p{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--blanco);
}

main{
    margin: 3rem;
}

/*ENCABEZADO Y BARRA DE NAVEGACIÓN*/
.encabezado{
    background-color: var(--primario);
}

.encabezado__titulo{
    text-align: center;
    background-color: var(--secundario);
    color: var(--blanco);
}

.encabezado__navegador{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.encabezado__navegador__link{
    margin-left: 15px;
    text-decoration: none;
    color: var(--blanco);
}

.encabezado__navegador__link:hover{
    color: var(--secundarioOscuro);
}

/*SECCION DE INSTITUCIÓN*/
.servicios__titulo{
    color: var(--primarioOscuro);
    padding: 10px;
    text-align: center;
}

.nosotros__textos__carrousel{
    position: relative;
    overflow: hidden;
}

.nosotros__textos__carrousel__imagen{
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: background-image 0.05s step-end;
}

@keyframes carrousel {
    0% {
        background-image: url('/src/img/carrousel_1.jpg');
    }
    33% {
        background-image: url('/src/img/carrousel_2.jpg');
    }
    66% {
        background-image: url('/src/img/carrousel_3.jpg');
    }
    100% {
        background-image: url('/src/img/carrousel_4.jpg');
    }
}

.nosotros__textos__carrousel__imagen{
    animation: carrousel 15s linear infinite;
}

/*SECCION DE SERVICIOS*/


/*SECCION DE UBICACION*/


/*SECCION FOOTER*/
.pie{
    display: flex;
    justify-content: space-around;
    gap: 60px;
    background-color: var(--primario);
    color: var(--blanco);
    margin: 0;
    padding: 30px;
}

.pie__izquierdo{
    margin: 0px;
}
